/* ============================ color de indicador 7711 ============================*/
.slider .indicators .indicator-item.active {
  background-color: #ffb300;
}
.chip:hover {
  cursor: pointer;
  color: #ffb300;
}
.chip.selected {
  background-color: #ffb300;
  color: #ffffff;
}
/* ============================ helper ============================ */
.parrafo {
  padding: 0 15px;
  text-align: justify;
}
.logo-osaky {
  width: auto;
  height: inherit;
}
/* ============================ Style Placeholders 5680 ============================*/
/*::-webkit-input-placeholder {
  color: #d1d1d1;
}

:-moz-placeholder {
   Firefox 18-
  color: #d1d1d1;
}

::-moz-placeholder {
   Firefox 19+
  color: #d1d1d1;
}

:-ms-input-placeholder {
  color: #d1d1d1;
}*/
/* ============================ custom inputs ============================*/
/* label color
 .input-field label {
   color: #000;
 }
 /* label focus color
 .input-field input[type=text]:focus + label {
   color: #000;
 }
 /* label underline focus color
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* valid color
 .input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color
 .input-field .prefix.active {
   color: #000;
 }*/
 /*.input-field input[type=password].invalido,
 .input-field input[type=email].invalido,
 .input-field input[type=text].invalido {
  border-bottom: 1px solid #ffb300;
  box-shadow: 0 1px 0 0 #ffb300;
}*/
 /* ============================ custom color redes sociales ============================ */

 /*facebook*/
.facebook-bg {
  background-color: #3b5998;
}
.facebook {
  color: #3b5998;
}
/*twitter*/
.twitter-bg {
  background-color: #55acee;
}
.twitter {
  color: #55acee;
}
/*google plus*/
.google-plus-bg {
  background-color: #dd4b39;
}
.google-plus {
  color: #dd4b39;
}
